@import './assets/variables.css';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
	color-scheme: light dark;
	/* color: var(--text-color); */
	/* background-color: white;   */
	
	/* font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
}

::-webkit-scrollbar {
	width: 0.375rem; 
}

::-webkit-scrollbar-track {
	background: var(--background-color);
}
  
::-webkit-scrollbar-thumb {
	background-color: #888; 
	border-radius: 6px;      
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}


body {
    height: fit-content;
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-regular);
    font-size: var(--body-font-size);
    line-height: 1.6;
    margin: 0;
    padding: 0;
	min-width: 320px;
}

/*HEADINGS*/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--heading-font-size);
    margin-bottom: 1rem;
}
h1 {
	font-size: 2rem;
	@media screen and (max-width: 480px) {
		font-size: 1.375rem;
	}
}
h2 {
	font-size: 1.75rem;
	@media screen and (max-width: 480px) {
		font-size: 0.75rem;
	}
}
h3 {
	font-size: 1.5rem;
	@media screen and (max-width: 480px) {
		font-size: 0.5rem;
	}
}
h4 {
	font-size: 1.25rem;
}

/*LINKS*/
a {
	font-weight: bold;
	color: white;
	font-size: 1rem;
	text-decoration: unset;
}
a.is-white {
  	color: white;
}
a.is-black {
  	color: black;
}
a.is-green {
  	color: green;
}
.has-background-green {
	background: var(--primary-color);
}

/*GREEN BOX*/
a.is-green-box {
	background-color: var(--primary-color);
	color: white;
	width: fit-content;
	height: fit-content;
	padding: 0.75rem 0 0.75rem 0.5rem;
}
a.is-green-box:hover {
	transition: background-color 300ms ease-out;
	background-color: var(--secondary-color);
}
span.additional-box {
	content: '+';
	margin-left: 1rem;
	background: #333333;
	padding: 1rem;
}
span.additional-box-reversed {
	content: '+';
	margin-left: 1rem;
	color: #333333;
	background: white;
	padding: 1rem;
}

/*POSITIONING*/
.position-bottom-left {
	position: absolute;
	bottom: var(--desktop-gap);
	left: var(--desktop-gap); 
	@media screen and (max-width: 480px) {
		bottom: var(--mobile-gap);
		left: var(--mobile-gap); 
	}
} 
.position-bottom-right {
	position: absolute;
	bottom: var(--desktop-gap);
	right: var(--desktop-gap); 
	@media screen and (max-width: 480px) {
		bottom: var(--mobile-gap);
		right: var(--mobile-gap); 
	}
}

/*LI-UNDERLINED*/
.underline-effect {
	color: white;
	position: relative;
}
.underline-effect::after {
	content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--text-color);
    transition: all 300ms ease-in-out;
} 
.underline-effect:hover::after {
    width: 100%;
} 

/*BUTTONS*/
button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--primary-color);
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
  	border-color: var(--secondary-color);
}
button:focus, button:focus-visible {
  	outline: 4px auto -webkit-focus-ring-color;
}


/* THEME */
.dark-mode {
	background-color: #333333 !important;
	color: #ffffff !important;
}
.light-mode {
	background-color: #ffffff !important;
	color: #333333 !important;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #333333;
		background-color: #ffffff;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #ffffff;
		background-color: #333333;
	}

	.Header a {
		color: var(--text-color);
	}
}